body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}
#logo{
    width: 10%;
    margin-left: 5%;
}
button{
    background-color: transparent;
}
.banner{
    background-image:url("https://res.cloudinary.com/dphkbv1mt/image/upload/v1723354005/vrbfwncyvc1vk6oidrvz.jpg");
    height: 100vh;
    width: 98.7vw;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #102a71;
}
.nav_link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: rgb(29, 48, 79);
    font-size: small;
    display: flex;
    flex-direction: row;
}
.nav_position{
    z-index: 0;
}
.nav_icon{
    color:#102a71;
}
.nav_link:hover{
    border-bottom: 2px solid #102a71;
    margin-bottom: none;
    font-weight: 600;
    color: #102a71;
}
.banner_wraper{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
@media (min-width:992px) {
    #text_wraper{
        width: 90%;
        border: none;
        margin-left: 3%;
        margin-top: 17%;
    }
    .name{
        font-size: 250%;
        color: blue;
        text-shadow: 2px 2px white;
    }
    #hi_block{
        font-size: 170%;
        color: #c52de0;
    }
    #about{
        color:white;
    }
    .banner_btns{
        margin-top: -3%;
        margin-left: 2%;
    }
    #profession{
        font-size: 450%;
        text-shadow: 2px 2px #ffffff;
        color: #c62de0;
        margin-top: -5%;
    }
    .banner_btns button{
        background-color: rgb(79, 79, 229);
        color: blue;
        text-shadow: 1px 1px white;
    }
    .banner_btns button:hover{
        text-shadow: none;
    }
    .heading{
        width: 50vw;
    }
    #ac_img{
        background-image: url("https://res.cloudinary.com/dphkbv1mt/image/upload/v1723634792/nnjqrixbdbyxf0xhsndk.jpg");
        background-position: right;
        background-size: cover;
    }
    #ac_imgs{
        margin-left: 15%;
        width: 70%
    }
    .footer_border{
        padding: 1%;
    }
    .text_pop{
        font-size: 360%;
        text-shadow: 2px 2px red;
    }
}
@media (max-width:992px) {
    .banner{
        width: 99.5vw;
    }
    .footer_border{
        padding: 3%;
    }
    .text_pop{
        font-size: larger;
        text-shadow: 1px 1px red;
    }
    #foot_er{
        text-align: center;
    }
    .heading{
        width: 70vw;
    }
    .banner_btns .btn_color{
        color: white;
        text-shadow: none;
    }
    #ac_img{
        background-image: url("https://res.cloudinary.com/dphkbv1mt/image/upload/v1723634792/nnjqrixbdbyxf0xhsndk.jpg");
        background-position: left;
        background-size: cover;
    }
    #ac_imgs{
        margin-top: 30%;
        width: 100%
    }
    .banner_wraper{
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    #text_wraper{
        padding-left: 3%;
    }
    #hi_block ,#profession{
        font-size: xx-large;
        color: aqua;
        text-shadow: 1px 1px blue;
        background-color: none;
    }
    .name{
        font-size: x-large;
        color:#fefdfe;
        text-shadow: 1px 1px #4949db;
    }
    .name2{
        animation-delay: 2s;
    }
    #name_ra{
        text-shadow: 2px 2px red;
    }
    #profession{
        margin-top: -3%;
    }
    #about{
        color: white;
    }
    .banner_btns button{
        background-color: aliceblue;
        text-shadow: 1px 1px black;
    }
}
@keyframes animal {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
#about{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: radial-gradient(#9fcbd9,#043241);
    border-left: 10px solid #043241;
    padding-left: 2%;
    padding-right: 2%;
    display: none;
    padding-bottom: 2%;
    text-shadow: 1px 1px rgb(10, 10, 225);
    box-shadow: 2px 2px whitesmoke;
}
.banner_btns .close_btn{
    color: red;
    text-shadow: none;
    border: 1px solid red;
}
.popup_wrapper{
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #f7f9fa;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: all 2s;
}
.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}
.text_pop{
    width: 0%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    margin: none;
}
.one{
    animation: anima 7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.two{
    animation: anima 7s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes anima {
    0%{
        width: 0%;
        border-right: 3px solid red;
    }
    50%{
        color: red;
        text-shadow:2px 2px yellow;
    }

    100%{
        width: 100%;
       border-right: none;
       text-shadow: 3px 3px red;
      
    }
}
.three{
    font-size: large;
    margin-left: 40%;
    color: red;
    text-shadow: 1px 1px yellow;
}
.contact_para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    width: 0%;
    animation: animal 7s;
    overflow: hidden;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.name2{
    animation-delay: 3s;
}
.heading .nav_icon{
    color: #c52de0;
    text-shadow: 1px 1px #4e055b;
}
.mar_gin{
    margin-top: 1%;
    margin-bottom: 1%;
}
.ac_margin{
    margin-top: 1%;
}
.banner_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banner_btns button{
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid blue;
    backdrop-filter: blur(10px);
}
.bnt{
    border: none;
}
.btn .nav_icon{
    color: white;
}
.section_nav{
    background-image: radial-gradient(rgb(217, 244, 255),rgb(144, 211, 238)) ;
    padding: 2%;
    border-left: 10px solid #6682d0;
    box-shadow: 1px 3px #105971;
    color: #102a71;
    font-weight: 500;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading{
    padding-top: 0.5%;
    padding-left: 0.5%;
    font-size: x-large;
    border-left: 5px solid #6a82c6;
    color: #c52de0;
    text-shadow: 1px 1px rgb(105, 4, 99);
    font-weight: 700;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading_in{
    font-weight: 700;
}
#skills{
    background-size: cover;
    background-position: center;
    border-left: 10px solid rgba(255, 0, 0,);
    box-shadow: 1px 3px rgb(255, 0, 0);
    color: rgb(5, 77, 101);
    text-shadow: 1px 1px rgb(169, 220, 239);
}
.ref-img{
    color: white;
    text-shadow: 1px 1px #2222f1;
}
#mail{
    color: white;
}
.skills_background{
    padding-top: 1%;
    border-left: 10px solid #4bc4d9;
    padding-right: none;
    margin-right: 15%;
    margin-bottom: 3%;
    backdrop-filter: blur(10px);
    background-image: radial-gradient(white,white);
}
.skills_background:hover{
    background-image: radial-gradient(#9fcbd9,#043241);
    color: white;
    text-shadow: 1px 1px rgb(9, 172, 231);
}
#td_icon{
    padding: 1%;
    background-color: aliceblue;
    color: black;
}
.icon_color{
    color: black;
}
#pro_jects{
    height: 6vh;
}
#ac_imgs{
    height: auto;
    background-size: cover;
}
.icon_img{
    width: 6%;
}
#autocad ,#photoshop ,#google ,#excel ,#word ,#ppt ,#sketch ,#furniture ,#coraldraw ,#v-ray ,#canva{
    background-color: #105971;
    display: none;
    padding: 2%
}
#education{
    background-image: none;
    backdrop-filter: blur(1px);
    border-top: 2px solid #102a71;
    margin-bottom: none;
    color: #043241;
    text-shadow: 0.5px 0.5px #461ee7;
}
.ed_img{
    background-image: url("https://res.cloudinary.com/dphkbv1mt/image/upload/v1723802449/wfuhn2tcodpahpeda1rt.jpg");
    background-position: center;
    background-size: cover;
}
.skill_color{
    background-image: radial-gradient(#9fcbd9,#043241);
}
#achievements{
    background-image: none;
    backdrop-filter: blur(5px);
}
.icon_ac{
    color: rgb(52, 25, 208);
    text-shadow: 1px 1px rgb(228, 23, 23);
    border-bottom: 3px solid #105971;
    padding-bottom: 50%;
}
.btn_ac{
    color: white;
    font-weight: bold;
    margin-left: 8%;
    background-color: rgb(81, 81, 231);
    box-shadow: 1px 1px white;
    border: 1px solid #102a71;
}
.btn_ac:hover{
    background-color: #0634b3;
    color: white;
    box-shadow: 1px 1px #102a71;
    border: 1px solid white;
}
.clo{
    text-shadow: 0.5px 0.5px rgb(230, 202, 99);
    color: rgb(248, 116, 8);
}
#project_name{
    background-image: radial-gradient(#9fcbd9,#043241);
    padding: 0.1%;
}
#projects{
    background-image: radial-gradient(white,aliceblue);
}
.pro_name{
    background-image: radial-gradient(#cd9ad9,#4e055b);
    padding: 2.5%;
    color: white;
    text-shadow: none;
    border-left: 7px solid rgb(39, 185, 151);
}
.pro_anchor a{
    text-decoration: none;
}
.pro_name:hover{
    background-image:  radial-gradient(#32023b,#32023b);
}
.view_btn{
    background-color: #0b6d8b;
    border: 1px inset white;
    font-size: small;
    border-radius: 10%;
    color: white;
    font-style: italic;

}
.footer_border{
    background-color: #020e2d;
}
#foot_er{
    background-color: #051c54;
    border-top: 2px solid grey;
    color: #b8b6b6;
    padding: 1.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.f_heading{
    text-decoration: underline;
    font-weight: 600;
    font-style: oblique;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact_info a{
    text-decoration: none;
    color: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#footer-logo{
    width: 80%;
}
.copyright{
    font-size: x-small;
    text-align: start;
}
#pdf_project button{
    background-color: rgb(0, 89, 255);
    color: white;
    border: 1px solid rgb(20, 2, 90);
    border-radius: 5px;
}
#pdf_project button:hover{
    background-color: rgb(3, 3, 129);
}
#spinner{
    margin-top: -45%;
    display: none;
}










